<div class="row d-flex justify-content-center" style="margin-top: 50px; margin-bottom: 25px;">
  <button type="button" id="btnDelete" class="btn btn-link red-link"> Deletar sua conta </button>
</div>
