<div id="bg-collapse4" class="container bg-light-yellow" style="max-width: 600px;">
  <a class="std-font-grey-md"
    style="width: max-content; text-align: center; text-decoration: none; background-color: transparent;"
    data-toggle="collapse" href="#collapseExample_4" aria-expanded="false" aria-controls="collapseExample_4">
    <div id="atualiza-senha" onclick="changeLinkColor4()" class="std-font-grey-md"
      style="text-decoration: none; padding: 20px;">Editar minha Senha</div>
  </a>
  <div class="collapse" id="collapseExample_4">
    <div id="cadastro3" class="container cad-form" style="width: max-content;">
      <div class="row align-items-center" style="padding-left: 0px">
        <div class="col-4">
          <p class="std-font-grey"></p>
        </div>
      </div>
      <!--Nova Senha-->
      <div class="row align-items-center justify-content-center">
        <div class="col-4" align="right" style="padding-right: 0px">
          <p class="std-font-grey-md">Qual vai ser sua nova senha?</p>
        </div>
        <div class="col">
          <div class="form-group">
            <div class="input-group">
              <%= f.password_field :password, :class => "form-control-edit form-control", :placeholder => "Nova Senha", :dataid => "1", :autocomplete => "off"%><br />
              <i class="input-group-append input-alert material-icons" id="alertPW" data-toggle="tooltip"
                style="display:none">error</i>
            </div>
          </div>
        </div>
      </div>
      <!--Confirmar nova Senha-->
      <div class="row align-items-center">
        <div class="col-4" align="right" style="padding-right: 0px">
          <p class="std-font-grey-md">Repita, por favor</p>
        </div>
        <div class="col">
          <div class="form-group">
            <div class="input-group">
              <%= f.password_field :password_confirmation, :class => "form-control-edit form-control", :placeholder => "Nova Senha", :dataid => "2", :autocomplete => "off"%><br />
              <i class="input-group-append input-alert material-icons" id="alertPWConf" data-toggle="tooltip"
                style="display:none">error</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>