<div id="myModal" class="modal fade rounded mr-2" tabindex="-1" role="alert">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content" style="color: blueviolet;">
      <div class="row">
        <div class="col text-center">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <p class="modal-title std-font-grey">Há campos com erro</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
