<div class="actions container edit-form">
  <div class="row justify-content-center">
    <p class="std-font-grey-md ">Confirme sua senha atual e salve as alterações</p>
  </div>
  <div class="row justify-content-center">
    <%= f.password_field :current_password, :id => "current_password", :class => "form-control form-control-edit", :style => "max-width: 250px; margin-bottom: 25px", :placeholder => "Senha Atual", :autocomplete => "off"%><br />
  </div>
  <div class="row justify-content-center">
    <%= f.button "Salvar alterações", :id => "btn-edit", :class => "std-btn", :type => "submit" %>
  </div>
</div>
