<div class="actions container" style="margin-top: 50px">
  <div class="row justify-content-center">
    <p class="std-font-grey-md" style="text-align: center">Confirme sua senha atual e salve as alterações</p>
  </div>
  <div class="row justify-content-center">
    <%= f.password_field :current_password, :id => "current_password", :class => "form-control form-control-yellow", :style => "max-width: 250px; margin-bottom: 25px", :placeholder => "Senha Atual", :autocomplete => "off"%><br />
  </div>
  <div class="row justify-content-center">
    <button type="button" class="std-btn" id="btn-intermed">Salvar alterações</button>
    <%= f.button "Salvar alterações", :id => "btn-edit", :class => "std-btn", :type => "submit", :style => "display: none;" %>
  </div>
</div>
