<div class="login-form">
  <label class="title-font-purple" style="font-size:20px; text-align:center">Problemas para acessar a sua conta?</label>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="field">
    <%= f.label :email, :class => "std-font-grey" %>
    <div class="input-group">
      <%= f.email_field :email, autofocus: true, :class=> "form-control-yellow form-control", autocomplete: "email", :placeholder => "Digite seu e-mail"%>
      <i class="input-group-append input-alert material-icons" id="alertEmail" data-toggle="tooltip"
        style="display: none;">error</i>
    </div>
  </div>
  </br>
  <div class="actions container ">
    <%= f.button "Enviar e-mail de verificação", :class => "std-btn", :id => "btn-enviar", :type => "button" %>
  </div>
  <% end %>
</div>


<!-- Modais de Erro -->
<div id="myModal" class="modal fade rounded mr-2" tabindex="-1" role="alert">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content" style="color: blueviolet;">
      <div class="row">
        <div class="col text-center">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <p class="modal-title std-font-grey">Há campos com erro</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="myModal2" class="modal fade rounded mr-2" tabindex="-1" role="alert">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content" style="color: blueviolet;">
      <div class="row">
        <div class="col text-center">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <p class="modal-title std-font-grey">Preencha o campo Email</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  //Verifica se há erros, senão submete o formulário
  $(document).ready(function () {
    $('#btn-enviar').click(function () {
      if ($('i').is(":visible") == true) {
        $('#myModal').modal({ show: true });
      }
      else if($('#user_email').val() == ""){
        $('#myModal2').modal({ show: true });
      }
      else {
        $('#new_user').submit();
      }
    });
  });

  //Verifica se os campo está em branco e se o email está cadastrado
  $(document).ready(function () {
    $('#user_email').keyup(function () {
      if ($(this).val() == "") {
        $('#alertEmail').show();
        if ($('#alertEmail').is(":visible"))
          $('#alertEmail').attr('data-original-title', 'Campo em branco').tooltip();
        else
          $('#alertEmail').tooltip({ 'trigger': 'hover', 'title': 'Campo em branco' });
      } else {
        $.post('/checkemail?email=' + $("#user_email").val(), function (data) {
          if (data) {
            $('#alertEmail').hide();
            $('#user_email').attr('style', 'border-color: #586871;');
          }
          else
            $('#alertEmail').show();
          if ($('#alertEmail').is(":visible"))
            $('#alertEmail').attr('data-original-title', 'Email não encontrado').tooltip();
          else
            $('#alertEmail').tooltip({ 'trigger': 'hover', 'title': 'Email não encontrado' });
        });
      }
    })
  })
</script>