<div class="container-fluid"
    style="background: linear-gradient(#602F9F, rgb(158, 83, 187)); border-radius: 0 0 100px 100px; font-family: Futura;">
    <div id="texto1" style="display: none; padding-top: 100px;" class="row">
        <div id="text" style="margin-top: 120px; margin-bottom: 140px; margin-left: 240px;" class="col">
            <h1 style="color: #f6af42ff; font-size: 65px;">Seguro Auto do</h1>
            <h1 style="color: #f6af42ff; font-size: 65px;">seu jeito</h1>
            <br>
            <h5 style="color: white; font-size: 25px;">Seu carro seguro com a Youse pra curtir a</h5>
            <h5 style="color: white; font-size: 25px;">vida numa boa. Você personaliza as</h5>
            <h5 style="color: white; font-size: 25px;">coberturas e assistências do seu Seguro</h5>
            <h5 style="color: white; font-size: 25px;">Auto online e paga só pelo que escolhe.</h5>
        </div>
        <div class="col-md-6" style="padding-top: 50px">
            <%= image_tag "fiesta.png", :id => "img-responsive",:style => "width: 400px"%>
        </div>
    </div>
    <div class="row" align="center" style="position: relative; bottom: 10px;">
        <div class="col">
            <h4 id="saibamais" style="display: none; color: white;">Saiba mais informações</h4>
        </div>
    </div>
    <div class="row" align="center" style="position: relative; bottom: 10px;">
        <div class="col">
            <a href="#produtos" style="text-decoration: none; background-color: transparent;"><i id="triggerprod"
                    href="#produtos" class="material-icons pulsate-fwd"
                    style="color: #f6af42ff; font-size: 70px;">expand_more</i></a>
        </div>
    </div>
</div>
<br>
<div id="container_prod" style="min-width: 750px; margin-top: 0px; margin-bottom: 0px;" class="container-fluid"
    style="font-family: Futura;">
    <div class="align-items-center justify-content-center content-margin">
        <div id="prodtitulo" class="row justify-content-center"
            style="display: none; font-family: Futura; padding-bottom: 100px; color: #602F9F;" align="center">
            <div class="col">
                <h1>Alguns Serviços</h1>
            </div>
        </div>
        <div id="produtos" style="display: none; font-family: Futura;" class="row justify-content-center"
            align="center">
            <div class="col">
                <%= image_tag "guincho.png", :style => "width: 300px"%><br><br>
                <a href="/home/assistencias" class="btn std-btn">
                    <z style="color: white;">Assistências<z>
                </a>
            </div>
            <div class="col">
                <%= image_tag "sinistro.png", :style => "width: 300px"%><br><br>
                <a href="/home/sinistro" class="btn std-btn">
                    <z style="color: white;">Sinistro<z>
                </a>
            </div>
            <div class="col">
                <%= image_tag "friends.png", :style => "width: 300px"%><br><br>
                <a href="/home/yousefriends" class="btn std-btn">
                    <z style="color: white;">Youse Friends<z>
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#texto1').slideDown(1000);
        $('#fiestaimg').slideDown(1000);
        $('#triggerprod').fadeIn(2000);
        $('#saibamais').fadeIn(2000);
    });

    $(document).ready(function () {
        $('#triggerprod[href^="#"]').on('click', function (e) {
            e.preventDefault();
            $('#produtos').show();
            $('#prodtitulo').show();
            $('#container_prod').attr('style', 'margin-top: 100px; margin-bottom: 120px;');
            var id = $(this).attr('href'),
                targetOffset = $(id).offset().top;

            $('html, body').animate({
                scrollTop: targetOffset - 100
            }, 1000);
        });
    });
    //Responsividade
    $(document).ready(function () {
        if ($('#scorpion-navbar').width() < 1000) {
            $('#img-responsive').hide();
        }
        else {
            $('#img-responsive').show();
        }
    });
    $(window).resize(function () {
        if ($('#scorpion-navbar').width() < 1000) {
            $('#img-responsive').hide();
        }
        else {
            $('#img-responsive').show();
        }
    });
</script>