<div class="row justify-content-center" style="font-family: Futura; color: #602F9F; margin-top: 40px;" align="center">  
    <div class="col">
        <h1>Youse Friends</h1>
    </div>
</div>
<div class="row justify-content-center" style="font-family: Futura;" align="center"> 
    <div class="col">
        <p>Algum conteúdo</p>
    </div>
</div>
<div class="row justify-content-center" style="font-family: Futura; color: #602F9F;" align="center"> 
    <div class="col">
        <h1>Outros</h1>
    </div>
</div>
<div id="produtos" style="font-family: Futura;" class="row justify-content-center" align="center">
    <div class="col">
        <%= image_tag "guincho.png", :style => "width: 300px"%><br><br>
        <a href="/home/assistencias" class="btn std-btn">
            <z style="color: white;">Assistências<z>
        </a>
    </div>
    <div class="col">
        <%= image_tag "sinistro.png", :style => "width: 300px"%><br><br>
        <a href="/home/sinistro" class="btn std-btn">
            <z style="color: white;">Sinistro<z>
        </a>
    </div>
</div>