/*Fontes padrão*/
.std-font-grey-lg{
	font-family: FelbridgeProLight, sans-serif;
	color: #586871;
	font-size: 18px;
}
.std-font-grey{
	font-family: FelbridgeProLight, sans-serif;
	color: #586871;
	font-size: 16px;
}
.std-font-grey-sm{
	font-family: FelbridgeProLight, sans-serif;
	color: #586871;
	font-size: 14px;
}
.std-font-grey-lg{
	font-family: FelbridgeProLight, sans-serif;
	color: #586871;
	font-size: 20px;
} 
/*Botões padrão*/
.std-btn {
	background-color:#f6af42ff;
	border: none;
	border-radius: 25px;
	cursor:pointer;
	color:#ffffff;
	font-family:FelbridgeProLight, sans-serif;
	font-size:16px;
	padding:12px 24px;
}
.std-btn:hover {
	background-color:#f7bd45ff;
}
.std-btn:focus {
	border: none;
	outline: none;
}
/*Links padrões*/
.std-link {
	font-family:FelbridgeProLight, sans-serif;
	color: #586871;
	text-decoration: underline;
}
.esp-link {
	font-family:FelbridgeProLight, sans-serif;
	color: #586871;
	text-decoration: underline;
}
.std-link:hover {
	font-family:FelbridgeProLight, sans-serif;
	color: #f7bd45ff;
	text-decoration: underline;
}
.esp-link:hover {
	font-family:FelbridgeProLight, sans-serif;
	background-color: transparent;
	color: #f7bd45ff;
	text-decoration: underline;
}
.std-link-purple {
	font-family:FelbridgeProLight, sans-serif;
	color: #623f99ff;
	text-decoration: underline;
}
.std-link-purple:hover {
	background-color: transparent;
}
/*Textbox padrão*/
.std-form-control {
	background: #f7f7f7ff;
	border-color: transparent;
	border-radius: 0;
}
input[type="text"]:focus,
.std-form-control:focus {
	background: #f7f7f7ff;
	border-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.form-control-yellow {
	background: #f7f7f7ff;
	border-color: transparent;
	border-radius: 0;
	outline: 0;
  	border-width: 0 0 1px;
	border-color: #586871;
}
.form-control-yellow::placeholder {
	color: #f6af42ff
}
input[type="text"]:focus,
.form-control-yellow:focus {
	background: white;
	border-color: #f6af42ff;
	color: #f6af42ff;
	-webkit-box-shadow: none;
	box-shadow: none;
}
/*Backgrounds padrão*/
.std-bg {
	background-color:#f7f7f7ff;
}
.std-bg-purple {
	background-color: #623f99ff;
}
/*Form de login*/
.login-form {
	width: 370px;
	margin: 50px auto;
}
.login-form form {
	margin-bottom: 15px;
	background: white;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

/* Form de Cadastro */
.cad-form {
	margin: 50px auto;
}
.cad-form form {
	margin-bottom: 15px;
	background: white;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.col-md-auto {
	padding: 5px;
}
.card-grey {
	background-color: transparent;
	border: none;
}