<p>Olá, <%= @resource.nome %>!</p>

<p>Alguém solicitou a atualização de sua senha. Vc pode utilizar o link abaixo :)</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não foi vc, pode ignorar este email.</p>
<p>Sua senha não mudará enquanto vc não acessar o link e atualizar para uma nova!</p>
